<form>
    <div style="width: 500px; margin-top: 10px;" class="bg-light rounded">
        <div id="tarea"><h4>Add a Category:</h4></div>
        <div class="m-4 mt-0">
            <label for="exampleInputEmail1" class="form-label">Name:</label>
            <input type="text" class="form-control form-control-sm" placeholder="Ex: Corrida">
        </div>
        <div id="buttonarea">
            <button type="submit" class="btn btn-primary m-2 mb-0" style="width: 150px;">Submit</button>
        </div>
    </div>
</form>