  /* imagem dos cards */
  /* .img-card{ */
    /* height: 329px; */



  /* altura dos cards */
  .card{
    margin-top: 10px;
  }

  /* ajustando os cards */
.max-height-col {
    min-height: 230px;  
}

/* tamanho do botao */
.btnwid{
    width: 12rem;
    align-self: center;
}