
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/ca/5d/ad/ca5dad985a955ef05e3e9e31d98eea2e.jpg" class="card-img-top img-card" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mortal Kombat 9 (2011)</h5>
            <h6>Categoria: Luta</h6>
            <p class="card-text max-height-col">Mortal Kombat: Komplete Edition, também chamado de Mortal Kombat 9 popularmente,é um jogo da franquia de jogos Mortal Kombat.Ele é a atualização de Mortal Kombat (2011).O jogo inclui todo o conteúdo disponibilizado anteriormente em uma versão única e completa.</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/6e/24/b0/6e24b0ab10971eb2affa91484af59161.jpg" class="card-img-top img-card" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hollow Knight (2017)</h5>
            <h6>Categoria: Metroidvania</h6>
            <p class="card-text max-height-col">Hollow Knight is a classically styled 2D action adventure across a vast interconnected world. Explore twisting caverns, ancient cities and deadly wastes...</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/33/5c/00/335c0028fb0a40442e810ddea7188190.jpg" class="card-img-top img-card" alt="...">
        <div class="card-body">
            <h5 class="card-title">CS:GO (2012)</h5>
            <h6>Categoria: Fps</h6>
            <p class="card-text max-height-col">O Counter-Strike surpreendeu a indústria de jogos quando o mod improvável se tornou o jogo de ação de PC mais jogado no mundo quase imediatamente após o seu lançamento, em agosto de 1999.</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/pt/3/3e/Hitman_3_capa.png" class="card-img-top img-card" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hitman 3 (2022)</h5>
            <h6>Categoria: Assassino furtivo</h6>
            <p class="card-text max-height-col">Hitman 3 é um jogo eletrônico de furtividade desenvolvido e publicado pela IO Interactive. É o oitavo título principal da série Hitman, o terceiro e último da trilogia World of Assassination</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://play-lh.googleusercontent.com/BoAvMI_6JGNRBp_3gFaVuLuqW_4J-rjtbR_giKFoJRvZmDiPtDlnLMur9cT7sTTfeos" class="card-img-top img-card" alt="...">
        <div class="card-body">
            <h5 class="card-title">Terraria (2011)</h5>
            <h6>Categoria: Aventura</h6>
            <p class="card-text max-height-col">Terraria é um jogo eletrônico RPG de ação-aventura independente produzido pela desenvolvedora de jogos Re-Logic. Possui como características a exploração, artesanato...</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/33/32/ca/3332caa3a44789470d7d99fcf21b22e2.jpg" class="card-img-top img-card" alt="..." style="object-fit:cover;">
        <div class="card-body">
            <h5 class="card-title">Crash of the Titans (2007)</h5>
            <h6>Categoria: Ação/Aventura</h6>
            <p class="card-text max-height-col">Crash of the Titans é um jogo eletrônico de ação/aventura publicado pela Sierra Entertainment e desenvolvido pela Radical Entertainment para os consoles Wii, Xbox 360, PlayStation 2 e PlayStation Portable. As versões do Nintendo DS e Game Boy Advance do jogo foram desenvolvidas pela Amaze Entertainment...</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/12/97/7d/12977d93670acc60e5470b2b3939f145.jpg" class="card-img-top img-card" alt="..." style="object-fit:cover;">
        <div class="card-body">
            <h5 class="card-title">Minecraft (2011)</h5>
            <h6>Categoria: Sandbox/Aventura</h6>
            <p class="card-text max-height-col">Minecraft é um jogo eletrônico sandbox de sobrevivência criado pelo desenvolvedor sueco Markus "Notch" Persson e posteriormente desenvolvido e publicado pela Mojang Studios, cuja propriedade intelectual foi obtida pela Microsoft em 2014...</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/d9/0f/56/d90f565bff47190321985c786a83fcc3.jpg" class="card-img-top img-card" alt="..." style="object-fit:cover;">
        <div class="card-body">
            <h5 class="card-title">Stray (2022)</h5>
            <h6>Categoria:  Aventura</h6>
            <p class="card-text max-height-col">Stray é um jogo eletrônico de aventura desenvolvido pela BlueTwelve Studio e publicado pela Annapurna Interactive. A história acompanha um gato feral que cai em uma cidade murada subterrânea povoada por robôs, máquinas e bactérias mutantes, tentando retornar à superfície com a ajuda de um drone chamado B-12...</p>
            <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
        </div>
        </div>
    </div>