
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/examplecardsimgs/mk.jpg" class="card-img-top img-card">
    <div class="card-body">
        <h5 class="card-title">Mortal Kombat 9 (2011)</h5>
        <h6>Categoria: Luta</h6>
        <p class="card-text max-height-col">Mortal Kombat: Komplete Edition, também chamado de Mortal Kombat 9 popularmente,é um jogo da franquia de jogos Mortal Kombat.Ele é a atualização de Mortal Kombat (2011).O jogo inclui todo o conteúdo disponibilizado anteriormente em uma versão única e completa.</p>
        <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
    </div>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/examplecardsimgs/hollowknight.jpg" class="card-img-top img-card">
    <div class="card-body">
        <h5 class="card-title">Hollow Knight (2017)</h5>
        <h6>Categoria: Metroidvania</h6>
        <p class="card-text max-height-col">Hollow Knight is a classically styled 2D action adventure across a vast interconnected world. Explore twisting caverns, ancient cities and deadly wastes...</p>
        <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
    </div>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/examplecardsimgs/csgo.jpg" class="card-img-top img-card">
    <div class="card-body">
        <h5 class="card-title">CS:GO (2012)</h5>
        <h6>Categoria: Fps</h6>
        <p class="card-text max-height-col">O Counter-Strike surpreendeu a indústria de jogos quando o mod improvável se tornou o jogo de ação de PC mais jogado no mundo quase imediatamente após o seu lançamento, em agosto de 1999.</p>
        <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
    </div>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/examplecardsimgs/Hitman_3_capa.png" class="card-img-top img-card">
    <div class="card-body">
        <h5 class="card-title">Hitman 3 (2022)</h5>
        <h6>Categoria: Assassino furtivo</h6>
        <p class="card-text max-height-col">Hitman 3 é um jogo eletrônico de furtividade desenvolvido e publicado pela IO Interactive. É o oitavo título principal da série Hitman, o terceiro e último da trilogia World of Assassination</p>
        <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
    </div>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/examplecardsimgs/terra.png" class="card-img-top img-card">
    <div class="card-body">
        <h5 class="card-title">Terraria (2011)</h5>
        <h6>Categoria: Aventura</h6>
        <p class="card-text max-height-col">Terraria é um jogo eletrônico RPG de ação-aventura independente produzido pela desenvolvedora de jogos Re-Logic. Possui como características a exploração, artesanato...</p>
        <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
    </div>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/img/examplecardsimgs/crash.jpg" class="card-img-top img-card" style="object-fit:cover;">
    <div class="card-body">
        <h5 class="card-title">Crash of the Titans (2007)</h5>
        <h6>Categoria: Ação/Aventura</h6>
        <p class="card-text max-height-col">Crash of the Titans é um jogo eletrônico de ação/aventura publicado pela Sierra Entertainment e desenvolvido pela Radical Entertainment para os consoles Wii, Xbox 360, PlayStation 2 e PlayStation Portable. As versões do Nintendo DS e Game Boy Advance do jogo foram desenvolvidas pela Amaze Entertainment...</p>
        <a routerLink="#" class="btn btn-primary">Mais detalhes</a>
    </div>
    </div>
</div>
   